*

# allow for needs
!/.gitignore
!/package.json
!/package-lock.json
!/manifest.json
!/README.md

# allow for only these extensions
!*.js
!*.json
!*.html
!*.css
!*.png

# allow subdirectories
!*/
# because of ^ -> redo
node_modules/
dist/
build/
coverage/
