*
# allow for needs
!/.gitignore
!/.github/workflows/zip.yml
!/package.json
!/package-lock.json
!/manifest.json
!/README.md
!/src/

# allow for only these extensions
!*.js
!*.ts
!*.json
!*.html
!*.css
!*.png
!*.svg

# allow subdirectories
!*/

# disallow
.wxt
node_modules/
dist/
migrate/

